{
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "flowtype",
    "prettier"
  ],
  "env": {
    "jasmine": true
  },
  "globals": {
    "ReactClass": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "es5",
      "singleQuote": true
    }],

    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "new-cap": 0,
    "no-plusplus": 0,
    "no-class-assign": 0,
    "no-duplicate-imports": 0,

    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,

    "react/jsx-filename-extension": [
      0, { "extensions": [".js", ".jsx"] }
    ],
   
    "react/sort-comp": 0,
    "react/prefer-stateless-function": 0,

    "react/forbid-prop-types": 1,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": 0,

    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/no-weak-types": 0,
    "flowtype/require-parameter-type": 2,
    "flowtype/require-return-type": [
      0,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
