.DS_Store
.cache
.vscode
.idea
.expo
.gradle

local.properties

/coverage/
/types/
/dist/
/lib/

node_modules/
web-build/
web-report/

xcuserdata
generated
lib
build

npm-debug.*

*.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
