.DS_Store
.cache
.vscode
.idea
.expo

/coverage/
/types/
/dist/
/lib/
/packages/**/lib/

node_modules/
web-build/
web-report/

npm-debug.*
yarn-error.log

*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
