name: E2E
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  playwright:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.workflow_ref }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Get Playwright version
        id: playwright
        run: echo "VERSION=$(node --print 'require(`@playwright/test/package.json`).version')" >> $GITHUB_OUTPUT

      - name: Restore Playwright
        uses: actions/cache/restore@v4
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright.outputs.VERSION }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Cache Playwright
        if: steps.playwright.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ steps.playwright.outputs.cache-primary-key }}

      - name: Build example for web
        run: yarn example expo export --platform web

      - name: Run e2e tests
        run: yarn example e2e:web
