name: E2E
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  maestro-android:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      checks: read
      contents: read
    concurrency:
      group: ${{ github.workflow_ref }}-${{ github.ref }}
      cancel-in-progress: true
    env:
      MAESTRO_VERSION: 2.1.0
      MAESTRO_CLI_NO_ANALYTICS: 1
      MAESTRO_DRIVER_STARTUP_TIMEOUT: 600000
      JAVA_DISTRIBUTION: 'zulu'
      JAVA_VERSION: '17'
      ANDROID_HOME: /usr/local/lib/android/sdk
      ANDROID_USER_HOME: /home/runner/.android
      API_LEVEL: 34
      AVD_NAME: e2e_emulator
      EMULATOR_PROFILE: pixel_5
      EMULATOR_OPTIONS: '-no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -camera-front none -partition-size 4096 -cores 2 -memory 4096'
      ORG_GRADLE_PROJECT_reactNativeArchitectures: x86_64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Calculate fingerprint
        id: calculate-fingerprint
        run: |
          FINGERPRINT=$(npx expo-updates fingerprint:generate --platform android | jq -r '.hash')
          echo "Fingerprint for Android: $FINGERPRINT"
          echo "fingerprint=$FINGERPRINT" >> $GITHUB_OUTPUT
        working-directory: example

      - name: Restore debug build from cache
        id: restore-debug-build
        uses: actions/cache/restore@v4
        with:
          path: android-debug-build/
          key: android-debug-build-${{ steps.calculate-fingerprint.outputs.fingerprint }}

      - name: Maximize build space
        if: steps.restore-debug-build.outputs.cache-hit != 'true'
        uses: AdityaGarg8/remove-unwanted-software@v4.1
        with:
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          java-version: ${{ env.JAVA_VERSION }}

      - name: Cache Gradle
        if: steps.restore-debug-build.outputs.cache-hit != 'true'
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Build Android App
        if: steps.restore-debug-build.outputs.cache-hit != 'true'
        run: |
          yarn expo prebuild --platform android
          cd android
          ./gradlew assembleDebug -DtestBuildType=debug -Dorg.gradle.jvmargs=-Xmx4g
        working-directory: example

      - name: Prepare cache folder
        if: steps.restore-debug-build.outputs.cache-hit != 'true'
        run: |
          mkdir android-debug-build
          mv example/android/app/build/outputs/apk/debug/app-debug.apk android-debug-build/android-debug.apk

      - name: Store debug build in cache
        if: steps.restore-debug-build.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: android-debug-build/
          key: ${{ steps.restore-debug-build.outputs.cache-primary-key }}

      - name: Install Maestro
        run: |
          curl -fsSL "https://get.maestro.mobile.dev" | bash
          echo "$HOME/.maestro/bin" >> $GITHUB_PATH

      - name: Install AVD dependencies
        run: |
          sudo apt update
          sudo apt-get install -y libpulse0 libgl1 libxkbfile1

      - name: Setup Android SDK
        run: |
          echo "$ANDROID_HOME/emulator" >> $GITHUB_PATH
          echo "$ANDROID_HOME/platform-tools" >> $GITHUB_PATH
          echo "$ANDROID_HOME/cmdline-tools/latest/bin" >> $GITHUB_PATH

      - name: Cache Android SDK
        id: android-sdk-cache
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.ANDROID_HOME }}/system-images
            ${{ env.ANDROID_HOME }}/emulator
            ${{ env.ANDROID_HOME }}/platform-tools
            ${{ env.ANDROID_HOME }}/platforms/android-${{ env.API_LEVEL }}
          key: android-sdk-${{ env.API_LEVEL }}

      - name: Install Android SDK components
        if: steps.android-sdk-cache.outputs.cache-hit != 'true'
        run: |
          yes | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --licenses > /dev/null 2>&1 || true
          $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install emulator "platform-tools" "platforms;android-${{ env.API_LEVEL }}" "system-images;android-${{ env.API_LEVEL }};google_apis;x86_64"

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Create AVD
        run: |
          avdmanager create avd -n "${{ env.AVD_NAME }}" -d "${{ env.EMULATOR_PROFILE }}" -k "system-images;android-${{ env.API_LEVEL }};google_apis;x86_64"

      - name: Start Metro bundler
        run: yarn --cwd example start &

      - name: Start emulator
        timeout-minutes: 10
        run: |
          $ANDROID_HOME/emulator/emulator -avd "${{ env.AVD_NAME }}" ${{ env.EMULATOR_OPTIONS }} &
          adb wait-for-device
          adb shell 'while [[ -z $(getprop sys.boot_completed) ]]; do sleep 1; done'

      - name: Wait for Metro bundler
        timeout-minutes: 5
        run: |
          until curl -sSf "http://localhost:8081/.expo/.virtual-metro-entry.bundle?platform=android&dev=true&minify=false" > /dev/null 2>&1; do
            sleep 2
          done

      - name: Run Maestro tests
        run: |
          adb install android-debug-build/android-debug.apk
          cd example
          yarn run e2e:native --platform android

      - name: Kill emulator
        if: always()
        run: adb emu kill || true

      - name: Store debug output
        if: failure() || cancelled()
        uses: actions/upload-artifact@v4
        with:
          name: maestro-debug-output-android
          path: example/maestro-debug-output/**/*
          include-hidden-files: true
          overwrite: true
